/* Загальні властивості */

body {
  font-family: "Roboto" sans-serif;
  font-family: "Raleway", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

a {
  text-decoration: none;
  color: #2e2f42;
  color: #434455;
}

ul,
ol {
  list-style-type: none;
  text-align: center;
}

address {
  font-style: normal;
}

/* Header */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-list .nav-item {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-contacts {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Hero */
.hero {
  background-color: #2e2f42;
  color: #ffffff;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.interactive-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  text-align: center;
  outline: none;
  transition: background-color 0.3s, transform 0.3s;
}
/* Стан при наведенні мишкою */
.interactive-link:hover,
.interactive-button:hover {
  background-color: #404bbf;
  transform: scale(1.05);
}

/* Стан при фокусі з клавіатури */
.interactive-link:focus,
.interactive-button:focus {
  outline: none;
  background-color: #404bbf;
  transform: scale(1.05);
}

/* Додатковий стиль для кнопок */
.interactive-button {
  color: #fff;
}

/* Section 1 Benefits */
.benefits {
  background-color: #ffffff;
}

.hidden {
  display: none;
}

.benefits-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.benefits-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Section 2 Our Team */
.team {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-list .team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* Section 3 Our Portfolio */
.portfolio {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* Footer */
.footer {
  background-color: #2e2f42;
}
.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* Основні стилі для посилань у навігації */
.nav-link-studio,
.nav-link,
.contacts-link {
  color: #2e2f42; /* базовий колір тексту */
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s, border 0.3s; /* плавний перехід кольору */
  border: 1px dashed transparent; /* базовий стиль рамки */
}

/* Стан при наведенні мишкою (hover) */
.nav-link:hover,
.nav-link-studio,
.contacts-link:hover {
  color: #404bbf; /* змінюється колір тексту при ховері */
}

/* Стан при фокусі з клавіатури (focus) */
.nav-link-studio:focus {
  text-decoration-line: #404bbf; /* видаляє стандартний контур */
  color: #404bbf; /* змінюється колір тексту при фокусі */
}

/* Стан при активному натисканні (active) */
.nav-link-studio:focus:active {
  outline: #404bbf;
  color: #404bbf; /* колір тексту при активному стані */
}

/* Стан при наведенні мишкою (hover) */
.button:hover {
  background-color: #0056b3;
  transform: scale(1.05); /* збільшується масштаб при ховері */
}

/* Стан при активному натисканні (active) */
.button:active {
  background-color: #003f7f;
  transform: scale(0.95); /* зменшується масштаб при натисканні */
}
